<!DOCTYPE html>
<html lang="em">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width-device-width", initial-scale="1.0">
    <title>Document</title>
</head>

<body>
    <h1>form</h1>
    <form action="" method="post">
        <label form="task">pekerjaan</label> 
        <input type="text" id="task" name="task" value="<%= data.task %>">
        <label form="complete">selesai</label>
        <select name="complete">
            <option value="false">false</option>
            <option value="true" <%= data.complete ? 'selected' : '' %>>true</option>
        </select>
        <button type="submit">simpan</button>
    </form>
    <a href="/">kembali</a>
</body>

</html>

